#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pregame-screen {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  max-height: 800px;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
}

.instructions-container {
  margin-bottom: 2rem;
  text-wrap: balance;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  /*padding: 1rem;*/
  background-color: #f0f0f0;
  border-radius: 32px;
  box-shadow: 5px 5px 5px #00000008;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.image-container {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.25rem;
}

.image {
  width: 200px;
  height: 200px;
}

.name-container {
  padding: 1rem;
  background-color: black;
  color: white;
  font-weight: 600;
  font-style: italic;
  text-shadow: #000 1px 0 3px,
  #000 -1px 0 3px;
}
