#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  /*padding: 1rem;*/
  background-color: #f0f0f0;
  border-radius: 32px;
  box-shadow: 5px 5px 5px #00000008;
  overflow: hidden;
}

.image-container {
  width: 200px;
  /*height: 300px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  width: 200px;
  height: 200px;
}

.name-container {
  padding: 1rem;
  background-color: black;
  color: white;
  font-weight: 600;
  font-style: italic;
}
